@charset "UTF-8";
/* skip메뉴 접근성 */
#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip > li {width:100%;}
#skip > li > a {display:block;text-align:center;line-height:0;font-size:0;color:#fff;background:#000;}
#skip > li > a:focus {line-height:50px;font-size:20px;}

#wrap {z-index:1;position:relative;}
/* header */
#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:80px;background:transparent;font-family:'Poppins',sans-serif;}
#wrap #header .wrap {width:100%;}
#wrap #header .wrap .gap {margin:0 35px;}
#wrap #header .wrap .gap .container {width:100%;text-align:center;}
/* header_logo*/
#wrap #header .wrap .gap .container #logo {float:left;width:111px;height:36px;padding:22px 15px;/* margin-right:850px; */}
#wrap #header .wrap .gap .container #logo > a {display:inline-block;}
#wrap #header .wrap .gap .container #logo > a > img {width:100%;}
/* header_nav */
#wrap #header .wrap .gap .container #nav {float:right;}
#wrap #header .wrap .gap .container #nav > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li {position:relative;display:inline-block;margin:0 18px;}
#wrap #header .wrap .gap .container #nav > ul > li .main-btn {display:block;font-weight:500;line-height:80px;text-transform:uppercase;transition:all .3s;}
#wrap #header .wrap .gap .container #nav > ul > li .main-btn:hover {color:rgba(0,0,0,.6);}
/* header_nav_sub */
#wrap #header .wrap .gap .container #nav > ul > li .sub {position:absolute;top:80px;left:50%;margin-left:-460px;width:920px;display:block;background:#fff;text-align:left;border-radius:5px;box-shadow:2px 2px 14px rgba(0,0,0,.1),-3px -3px 14px rgba(0,0,0,.1);}
#wrap #header .wrap .gap .container #nav > ul > li .sub2,
#wrap #header .wrap .gap .container #nav > ul > li .sub3,
#wrap #header .wrap .gap .container #nav > ul > li .sub5 {width:240px;margin-left:-80px;left:-20px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 {width:1040px;margin-left:-520px;left:-20px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 {width:600px;margin-left:-300px;left:-20px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 {width:730px;margin-left:-500px;left:-20px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap {padding:60px 80px;}
#wrap #header .wrap .gap .container #nav > ul > li > .sub2 > .sub-gap,
#wrap #header .wrap .gap .container #nav > ul > li > .sub3 > .sub-gap,
#wrap #header .wrap .gap .container #nav > ul > li > .sub5 > .sub-gap {padding:25px 35px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li {float:left;width:160px;margin-right:30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li:last-child {margin-right:0;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2 .sub-gap > ul > li,
#wrap #header .wrap .gap .container #nav > ul > li .sub3 .sub-gap > ul > li,
#wrap #header .wrap .gap .container #nav > ul > li .sub5 .sub-gap > ul > li {width:170px;margin-right:0;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 .sub-gap > ul > li {width:190px;margin-right:30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap > ul > li {width:190px;margin-right:60px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap > ul > li:nth-of-type(1) > dl:last-child {margin-top:10px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dt {font-size:14px;font-weight:500;margin:15px 0;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2 .sub-gap > ul > li > dl > dt,
#wrap #header .wrap .gap .container #nav > ul > li .sub3 .sub-gap > ul > li > dl > dt,
#wrap #header .wrap .gap .container #nav > ul > li .sub5 .sub-gap > ul > li > dl > dt,
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap > ul > li:nth-of-type(2) > dl > dt {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd {position:relative;font-size:13px;font-weight:500;padding:7px 0;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd > a {display:block;color:#828282;margin-bottom:5px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd > a:hover {color:#232323;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd > a > i {float:right;font-size:11px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap > ul > li > dl > dd .row-img {width:190px;height:250px;background:url(../img/litho-demo-architecture.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap > ul > li > dl:last-child > dd .row-img {width:190px;height:250px;background:url(../img/litho-demo-design-agency.jpg) no-repeat 50% 50%;background-size:cover;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > span {display:inline-block;width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > span > a > img {width:100%;}
/* header_nav_sub_hide관리 */
#wrap #header .wrap .gap .container #nav > ul > li .sub1 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub3 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub5 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 {display:none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 {display:none;}
/* header_nav_sub-sub */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd .sub-sub {position:absolute;top:-24px;left:210px;margin-left:-2px;background:#fff;width:240px;border-radius:5px;box-shadow:2px 2px 14px rgba(0,0,0,.1),-3px -3px 14px rgba(0,0,0,0);}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd .sub-sub .sub-sub-gap {padding:25px 35px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd .sub-sub .sub-sub-gap > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd .sub-sub .sub-sub-gap > ul > li {position:relative;padding:9px 0;width:180px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li > dl > dd .sub-sub .sub-sub-gap > ul > li > a {display:block;padding:3px 0;color:#828282;font-size:13px;font-weight:500;transition:color .3s;}
/* header_nav_sub-sub_hide관리 */
.sub2-sub1 {display:none;}
.sub2-sub2 {display:none;}
.sub2-sub3 {display:none;}
.sub2-sub4 {display:none;}
.sub3-sub1 {display:none;}
.sub3-sub2 {display:none;}
.sub3-sub3 {display:none;}
.sub3-sub4 {display:none;}
.sub3-sub5 {display:none;}
.sub3-sub6 {display:none;}
.sub3-sub7 {display:none;}
.sub3-sub8 {display:none;}
.sub5-sub1 {display:none;}
.sub5-sub2 {display:none;}
.sub5-sub3 {display:none;}
.sub5-sub4 {display:none;}
.sub5-sub5 {display:none;}


/* header_aside */
#wrap #header .wrap .gap .container #aside {float:right;width:112px;height:77px;padding:0 15px;}
#wrap #header .wrap .gap .container #aside > ul {width:100%;padding:29.5px 0;}
#wrap #header .wrap .gap .container #aside > ul > li {position:relative;display:inline-block;padding-left:17px;text-align:right;}
#wrap #header .wrap .gap .container #aside > ul > li > a {font-size:15px;}
#wrap #header .wrap .gap .container #aside > ul > li > a:hover {color:rgba(0,0,0,.6);}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub {position:absolute;top:50px;right:0;width:130px;display:block;background:#fff;text-align:left;border-radius:5px;box-shadow:2px 2px 14px rgba(0,0,0,.1),-3px -3px 14px rgba(0,0,0,.1);}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap {padding:25px 20px;}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap > ul {width:100%;}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap > ul > li {display:block;width:100%;}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap > ul > li > span {display:block;width:100%;}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap > ul > li > span > a {display:inline-block;width:100%;font-size:13px;line-height:200%;color:#828282;}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap > ul > li > span > a:hover {color:#232323;}
#wrap #header .wrap .gap .container #aside > ul > li .aside-sub .aside-gap > ul > li > span > a > img {display:inline-block;margin-right:15px;}

#wrap #header .wrap .gap .container #aside > ul > li .aside-sub {display:none;}




/* main */
#wrap #main {z-index:2;position:relative;width:100%;font-family:'Poppins',sans-serif;}
/* main_section1*/
#wrap #main #section1 {width:100%;height:1093px;}
#wrap #main #section1 .wrap {width:100%;}
#wrap #main #section1 .wrap .gap {width:100%;}
#wrap #main #section1 .wrap .gap .container {width:100%;}
/* main_section1 slide*/
#wrap #main #section1 .wrap .gap .container .slide-container {position:relative;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;overflow:hidden;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;left:0;width:600%;height:100%;margin-left:-100%;cursor:url(../img/icon-move-light.png),w-resize;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {position:relative;float:left;width:100%;height:100%;background:url(../new_img/slide01.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image:url(../new_img/slide01.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../new_img/slide02.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../new_img/slide03.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {background-image:url(../new_img/slide04.jpg);}
/* main_section1 slide_text box*/
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {position:absolute;right:15%;top:50%;margin-top:-120px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap {margin:0;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap {width:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap > h4 {color:#fcf9f3;font-size:18px;letter-spacing:1px;padding-bottom:20px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap > h2 {color:#fff;font-size:50px;font-weight:600;line-height:110%;letter-spacing:-1px;padding-bottom:20px;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap > span {width:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap > span > a {display:inline-block;background:transparent;color:#fff;font-size:13px;font-weight:600;padding:12px 15px;border:2px solid #fff;transition:all .4s;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-wrap > span > a:hover {background:#fff;color:#ab762b;}
/* main_section1 slide_화살표*/
#wrap #main #section1 .wrap .gap .container .slide-container .prev-btn-wrap {z-index:2;position:absolute;top:50%;left:50px;margin-top:-25px;width:50px;height:50px;transform:rotate(-45deg);border-top:2px solid #fff;border-left:2px solid #fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .prev-btn-wrap .prev-btn {display:block;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .next-btn-wrap {z-index:2;position:absolute;top:50%;right:50px;margin-top:-25px;width:50px;height:50px;transform:rotate(45deg);border-top:2px solid #fff;border-right:2px solid #fff;}
#wrap #main #section1 .wrap .gap .container .slide-container .next-btn-wrap .next-btn {display:block;width:100%;height:100%;}


/* main_section2*/
#wrap #main #section2 {width:100%;padding:130px 0;background:#fff;font-family:'Poppins',sans-serif;overflow:hidden;}
#wrap #main #section2 .wrap {width:100%;max-width:1420px;margin:0 auto;}
#wrap #main #section2 .wrap .gap {margin:20px 0;}
#wrap #main #section2 .wrap .gap .container {width:100%;}
#wrap #main #section2 .wrap .gap .container > ul {width:100%;padding:0 15px;}
#wrap #main #section2 .wrap .gap .container > ul > li {float:left;width:33.3333%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap {margin:0 20px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content {width:100%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul {width:100%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul > li {float:left;}
/* main_section2_각 영역 왼쪽 이미지 박스 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .img-box {position:relative;width:280px;margin-right:-25px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .img-box > span {position:relative;display:block;width:100%;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .img-box > span > img {display:block;width:100%;opacity:1;transition:all .6s;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content:hover > ul .img-box > span > img {transform:scale(.9);opacity:.6;}
/* main_section2_각 영역 왼쪽 이미지 박스 _가운데 화살표*/
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .img-box > a.move-btn {position:absolute;top:50%;left:50%;margin-top:-30px;margin-left:-30px;width:60px;height:60px;background:#232323;border-radius:50%;text-align:center;line-height:58px;opacity:0;transition:all .6s;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content:hover > ul .img-box > a.move-btn {opacity:1;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .img-box > a.move-btn > i {font-size:13px;color:#fff;margin-left:1px;}
/* main_section2_각 영역 오른쪽 텍스트 박스 */
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .text-box {z-index:2;position:relative;margin-top:70px;width:163.6px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .text-box > h4 {color:#ab762b;font-weight:500;letter-spacing:1px;font-size:15px;line-height:200%;margin-bottom:10px;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .text-box > h3 {color:#232323;line-height:40px;letter-spacing:-1px;font-size:38PX;font-weight:400;}
#wrap #main #section2 .wrap .gap .container > ul > li .content-gap .content > ul .text-box > h3 > span {font-weight:600;}

/* main_section3*/
#wrap #main #section3 {width:100%;padding:130px 0;background:#fff;border-top:1px solid #e4e4e4;box-sizing:border-box;font-family:'Poppins',sans-serif;overflow:hidden;}
#wrap #main #section3 .wrap {width:100%;max-width:1420px;margin:0 auto;}
#wrap #main #section3 .wrap .gap {margin:0;}
#wrap #main #section3 .wrap .gap .container {width:100%;}
/* main_section3_title*/
#wrap #main #section3 .wrap .gap .container .top-box {width:100%;text-align:center;margin-bottom:80px;}
#wrap #main #section3 .wrap .gap .container .top-box > h4 {font-weight:500;font-size:15px;line-height:180%;color:#ab762b;letter-spacing:1px;}
#wrap #main #section3 .wrap .gap .container .top-box > h2 {font-weight:600;font-size:40px;line-height:150%;color:#232323;letter-spacing:-1px;}
/* main_section3_product content*/
#wrap #main #section3 .wrap .gap .container .content-box {width:100%;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap {padding:0 15px;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul {width:100%;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li {float:left;width:20%;padding:15px;box-sizing:border-box;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box {margin-bottom:45px;}
/* main_section3_product Image*/
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box {position:relative;width:100%;overflow:hidden;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-img {display:block;width:100%;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-img > img {display:block;width:100%;}
/* main_section3_product Image-hover situation*/
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-hover-bottom {position:absolute;bottom:-50px;left:0;width:100%;background:#000;text-align:center;padding:12px 0;box-sizing:border-box;transition:all .4s;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box.addHoverDetail .product-img-box .product-hover-bottom {bottom:0;}

#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-hover-bottom > a {display:block;width:100%;font-size:13px;font-weight:500;line-height:22px;color:#fff;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-hover-bottom > a > i {font-size:13px;line-height:23px;margin-right:10px;color:#fff;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-hover-right {position:absolute;top:-80px;right:15px;transition:all .4s;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box.addHoverDetail .product-img-box .product-hover-right {top:20px;}

#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-hover-right > a {display:block;width:30px;height:30px;background:#fff;border-radius:50%;margin-bottom:10px;text-align:center;line-height:30px;box-shadow:2px 2px 14px rgba(0,0,0,.1),-3px -3px 14px rgba(0,0,0,.1);}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-img-box .product-hover-right > a > i {font-size:12px;margin-left:1px;}
/* main_section3_product Info*/
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-info-box {padding-top:25px;text-align:center;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-info-box .product-name {display:block;font-size:15px;font-weight:500;line-height:200%;}
#wrap #main #section3 .wrap .gap .container .content-box .content-box-gap > ul > li .product-box .product-info-box .product-price {display:block;font-size:14px;color:#828282;line-height:20px;}
/* main_section3_Btn box*/
#wrap #main #section3 .wrap .gap .container .button-box {width:100%;text-align:center;margin-top:42px;}
#wrap #main #section3 .wrap .gap .container .button-box .collection-btn {width:100%;padding:14px 30px;font-size:12px;font-weight:500;color:#000;background:#fff;border:1px solid #000;transition:all .3s;}
#wrap #main #section3 .wrap .gap .container .button-box .collection-btn:hover {color:#fff;background:#000;}

/* main_section4*/
#wrap #main #section4 {width:100%;}
#wrap #main #section4 .wrap {width:100%;}
#wrap #main #section4 .wrap .gap {margin:0;}
#wrap #main #section4 .wrap .gap .container {width:100%;}
#wrap #main #section4 .wrap .gap .container .slide-container {width:100%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view {width:100%;overflow:hidden;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap {position:relative;left:0;width:calc(951.5px*10);margin-left:calc(-951.5px*2);}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float:left;display:block;width:951.5px;height:100%;background:rgb(207, 174, 143);;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background:rgb(207, 174, 143);}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background:rgb(216, 185, 153);}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background:rgb(209, 184, 160);}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide3 {background:rgb(173, 151, 130);}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide4 {background:rgb(160, 106, 106);}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide5 {background:rgb(219, 168, 168);}
/* main_section4_슬라이드 내용 구성*/
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap {margin:0 auto;padding:70px 0;max-width:700px;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content {width:100%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-img-box {float:left;padding:0 10px;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-img-box > a {display:block;width:315px;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-img-box > a > img {display:block;width:100%;height:100%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box {float:left;text-align:left;margin-left:60px;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > h4 {display:block;font-size:18px;font-weight:500;color:#ab762b;padding:50px 0 20px 0;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > h4 > span:first-child {display:inline-block;width:30px;line-height:20px;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > h4 > span > i {display:inline-block;width:20px;height:1px;background-color:#ab762b;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > h2 {display:block;font-size:45px;font-weight:400;padding-bottom:20px;line-height:110%;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > h2 > span {display:block;font-weight:700;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > span {display:inline-block;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > span > a {display:block;font-size:13px;font-weight:500;color:#ab762b;background:transparent;padding:12px 12px;border:1px solid #ab762b;transition:all .3s;}
#wrap #main #section4 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .slide-txt-box > span > a:hover {color:#fff;background:#ab762b;}



/* main_section5*/
#wrap #main #section5 {width:100%;padding:130px 0;background:#fff;border-top:1px solid #e4e4e4;box-sizing:border-box;font-family:'Poppins',sans-serif;overflow:hidden;}
#wrap #main #section5 .wrap {width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section5 .wrap .gap {margin:0;}
#wrap #main #section5 .wrap .gap .container {width:100%;}
/* main_section5_title*/
#wrap #main #section5 .wrap .gap .container .top-box {width:100%;text-align:center;margin-bottom:80px;}
#wrap #main #section5 .wrap .gap .container .top-box > h4 {font-weight:500;font-size:15px;line-height:180%;color:#ab762b;letter-spacing:1px;}
#wrap #main #section5 .wrap .gap .container .top-box > h2 {font-weight:600;font-size:40px;line-height:150%;color:#232323;letter-spacing:-1px;}
/* main_section5_blog*/
#wrap #main #section5 .wrap .gap .container .content-box {width:100%;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap {padding:0 15px;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul {width:100%;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li {float:left;width:25%;padding:15px;box-sizing:border-box;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box {width:100%;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-img-box {width:100%;overflow:hidden;margin-bottom:40px;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-img-box a.blog-img {display:block;width:100%;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-img-box a.blog-img img {display:block;width:100%;}

#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-txt-box {width:100%;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-txt-box > span {display:block;margin-bottom:20px;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-txt-box > span a.blog-txt {display:block;font-size:16px;font-weight:500;line-height:150%;transition:all .3s;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-txt-box > span a.blog-txt:hover {color:#ab762b;}
#wrap #main #section5 .wrap .gap .container .content-box .content-box-gap > ul > li .blog-box .blog-txt-box > p {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}


/* main_section6*/
#wrap #main #section6 {width:100%;padding:70px 0;background:#fff;border-top:1px solid #e4e4e4;box-sizing:border-box;overflow:hidden;}
#wrap #main #section6 .wrap {width:100%;max-width:1170px;margin:0 auto;}
#wrap #main #section6 .wrap .gap {margin:0 15px;}
#wrap #main #section6 .wrap .gap .container {width:100%;}
#wrap #main #section6 .wrap .gap .container .client-box {width:100%;}
#wrap #main #section6 .wrap .gap .container .client-box .client-log {float:left;width:25%;}
#wrap #main #section6 .wrap .gap .container .client-box .client-log > a {display:block;}
#wrap #main #section6 .wrap .gap .container .client-box .client-log > a > img {display:block;}

/* footer */
#wrap #footer {z-index:1;position:relative;width:100%;}
#wrap #footer .wrap {}
#wrap #footer .wrap .gap {}
#wrap #footer .wrap .gap .container {}